<% include ./partials/header %>
<div class="game text-center mt-4">
  <h1>Minesweeper</h1>
  <h2>Your time is <span id="timer">0.0</span></h2>
  <% if (game) { %>
    <h3>You have <span id="mines"><%= game.mines %></span> mines left.</h3>
    <div class="board" style="width: <%= 20 * game.width + 1 %>px">
      <% for (let i = 0; i < game.height; i++) { %>
        <% for (let j = 0; j < game.width; j++) { %>
          <% let classes = '' %>
          <% if (i === game.height - 1) classes += ' bottom' %>
          <% if (j === game.width - 1) classes += ' right' %>
          <div class="field float-left<%= classes %>" id="<%= j %>-<%= i %>"></div>
        <% } %>
        <div class="clear-float"></div>
      <% } %>
    </div>
  <% } %>
  <div class="container" id="message"></div>
  <div class="d-flex justify-content-center"><a href="/" class="btb btn-primary btn-lg">Back to settings</a></div>
</div>
<% if (game) { %>
  <script>
    const width = <%= game.width %>;
    const height = <%= game.height %>;
    let numOfMines = <%= game.mines %>;
    const gameId = '<%= id %>'
  </script>
  <script src="/js/game.js"></script>
<% } %>
<% include ./partials/footer %>